<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8"/>
    <title>Overnight Shop</title>
    <% # Code By: Maysun Campos %>
    <link rel="stylesheet" href="style.css" type="text/css"/>
  </head>
  <body dir="ltr">
    <main>
      <h1>Overnight Shop</h1>
    </main>
  </body>
</html>
